@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .text-gradient-1 {
    @apply bg-gradient-1 bg-clip-text text-transparent;
  }

  .text-gradient-2 {
    @apply bg-gradient-2 bg-clip-text text-transparent;
  }

  .text-gradient-3 {
    @apply bg-gradient-3 bg-clip-text text-transparent;
  }
}
html {
  scroll-behavior: smooth;
}
